<div class="row">
  <div class="col-sm-6">
    <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" class="form-control" placeholder="Search..." ng-model="search" ng-change="searching(search)"/>
      <!--<input type="text" class="form-control" ng-model="search" onChange="searching(search)"/>-->
    </div>
  </div>
  <div class="col-sm-6">
    <div class="username"><span style="padding-right:10px">{{username}}</span><span class="glyphicon glyphicon-user"></span><span class="caret"></span></div>
  </div>
</div>